*.meta linguist-vendored
*.unity linguist-vendored
*.asset linguist-vendored
*.mat linguist-vendored
*.wlt linguist-vendored
*.prefab linguist-vendored
*.controller linguist-vendored
*.overrideStorage linguist-vendored
*.csproj linguist-vendored
*.sln linguist-vendored
*.user linguist-vendored

ProjectSettings/** linguist-vendored
Packages/** linguist-vendored