# Unity dosyalarını istatistiklerden tamamen kazıyalım
*.meta linguist-vendored
*.unity linguist-vendored
*.asset linguist-vendored
*.mat linguist-vendored
*.prefab linguist-vendored
*.controller linguist-vendored
*.overrideStorage linguist-vendored
*.csproj linguist-vendored
*.sln linguist-vendored
*.user linguist-vendored

# Tüm ProjectSettings ve Packages klasörünü görmezden gel
ProjectSettings/** linguist-vendored
Packages/** linguist-vendored